@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
}

header {
  width: 280px;
  height: 100%;
  background-color: lightblue;
}

main {
  flex: 1;
  background-color: blanchedalmond;
  height: 100%;
}

@media (max-width: 768px) {
  body {
    flex-direction: column; /* Passe à une disposition verticale */
  }

  header {
    width: 100%; /* Le header occupe toute la largeur */
    height: auto; /* La hauteur s'ajuste à son contenu */
  }

  main {
    margin-left: 0; /* Retirer l'espace entre le header et le main */
    width: 100%; /* Le main occupe toute la largeur */
  }
}