@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  overflow-y: auto;
  color: white;
  background-color: black;
  padding: 30px 45px;
  box-sizing: border-box;
}

main {
  flex: 1;
  height: 100%;
  overflow-y: auto; /* Enables vertical scrolling when content overflows */
  margin-left: 280px; /* This ensures the content is pushed to the right, avoiding the fixed sidebar */
}

@media (max-width: 768px) {
  body {
    flex-direction: column; /* Passe à une disposition verticale */
  }

  header {
    width: 100%; /* Le header occupe toute la largeur */
    height: auto; /* La hauteur s'ajuste à son contenu */
  }

  main {
    margin-left: 0; /* Retirer l'espace entre le header et le main */
    width: 100%; /* Le main occupe toute la largeur */
  }
}
.contact-info-container {
  display: flex;
  width: 100%;
}

.contact-info-left-side, .contact-info-right-side {
  width: 50%;
}

.contact-info-left-side {
  background-color: #232323;
  color: white;
  padding: 50px;
  box-sizing: border-box;
}

.contact-info-right-side {
  background-color: white;
  color: black;
  padding: 75px 50px 50px;
  box-sizing: border-box;
}

#kerklaan-zunderdorp-street {
  display: block;
}

h5 {
  font-size: 0.9rem;
  color: #f6be00;
  font-family: Roboto, sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5, h2 {
  margin-bottom: 20px;
}

#company-logo {
  margin-bottom: 100px;
  font-weight: 900;
  text-transform: uppercase;
}

ul.menu li {
  padding-bottom: 20px;
}

ul.menu li:hover {
  color: #f6be00;
}
#homepage-image {
  display: block;
}

#opdrachtgevers-sectie {
  display: flex;
  flex-wrap: wrap;
}

#opdrachtgevers-sectie>div{
  background-color: cornflowerblue;
  flex: 1 1 250px;
  max-height: 400px;
}

.bg-customer-details-popup {
  background-color: #232323;
  color: white;
  padding: 50px;
  box-sizing: border-box;
}

.kunden-galerie {
  padding: 10%;
}

#menu-list a {
  list-style: none;
  line-height: 50px;
}
